* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Black.woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato-Light.woff");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: Lato;
}

.header {
  background-image: url("../img/header/header_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 159px 0;
}

.header__logo {
  max-width: 195px;
}

.header__title {
  color: #ffffff;
  text-align: center;
  margin-top: 159px;
  position: relative;
}

.header__title::after {
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 105px;
  margin-top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #ffffff;
}

.header__text {
  font-size: 34px;
  line-height: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.16em;
}

.header__description {
  font-size: 26px;
  font-weight: 400;
  text-transform: none;
  margin-top: 17px;
}

.header__button {
  margin-top: 278px;
}

.header__arrow {
  margin-top: 75px;
}

.container {
  max-width: 976px;
  margin: 0 auto;
  padding: 0 5px;
}

.logo {
  width: 100%;
}

.btn-read {
  cursor: pointer;
  border: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 182px;
  height: 47px;
  color: #ffffff;
  -webkit-transition: 0.8s background-color;
  -o-transition: 0.8s background-color;
  transition: 0.8s background-color;
}

.btn-read__text {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.btn-read__text_black {
  color: #000000;
}

.btn-read_black {
  border: 1px solid #000000;
  color: #000000;
}

.btn-read:hover {
  background-color: #0000002f;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list__item {
  cursor: pointer;
  font-size: 15px;
}

.nav-list__item_active > a {
  font-weight: 700;
  color: #ada074;
}

.nav-list__links {
  cursor: pointer;
  line-height: 1.2;
  font-weight: 400;
  color: #3c3c3c;
  -webkit-transition: 0.8s all;
  -o-transition: 0.8s all;
  transition: 0.8s all;
}

.nav-list__links:hover {
  font-weight: 700;
  color: #ada074;
}

.navbar {
  height: 58px;
  background-color: #ffffffee;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
}

.navbar__wrapper {
  max-width: 422px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar__lists {
  height: 100%;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 130px 0 95px 0;
}

.about__title {
  margin-bottom: 73px;
}

.about__text-container {
  max-width: 690px;
  margin-bottom: 69px;
}

.about__text {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: #868585;
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  margin-top: 25px;
  padding: 0 5px;
}

.about__icon {
  width: 92px;
  height: 92px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  position: relative;
}

.about__icon picture {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__card-title {
  text-align: center;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.16em;
  color: #000000;
  margin: 40px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.about__card-text {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  color: #868585;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.16em;
  text-align: center;
  color: #000000;
  position: relative;
}

.title::after {
  content: "";
  display: block;
  height: 1px;
  width: 82px;
  background-color: #000000;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 36px;
}

.portfolio {
  background-color: #f3f3f3;
}

.portfolio__container {
  max-width: 1103px;
  margin: 0 auto;
  padding: 107px 5px 62px 5px;
}

.portfolio__title {
  margin-bottom: 91px;
}

.portfolio__navbar {
  max-width: 422px;
  margin: 0 auto;
}

.portfolio__lists {
  margin-bottom: 136px;
}

.portfolio__image-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portfolio__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 300px;
  max-width: 49%;
  min-width: 300px;
  background-color: #eaeaea;
  margin-bottom: 16px;
  position: relative;
  opacity: 1;
  -webkit-transition: display 0.8s;
  -o-transition: display 0.8s;
  transition: display 0.8s;
}

.portfolio__image picture {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio__image picture img,
.portfolio__image picture source {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.portfolio__image_hidden {
  display: none;
}

.portfolio__button {
  margin: 48px auto 0 auto;
}

.partners {
  background-image: url("../img/partners/partners_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.partners__title {
  font-size: 30.4px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.partners__clients {
  margin-top: 93px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.partners__client {
  height: 65px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact {
  background-color: #ffffff;
}

.contact__wrapper {
  padding: 142px 0 103px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title {
  margin-bottom: 167px;
}

.contact__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.contact__form {
  margin-right: 83px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 383px;
          flex: 0 1 383px;
}

.contact__info-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.contact__text {
  font-weight: 300;
  margin-bottom: 35px;
}

.contact__name {
  font-weight: 700;
  margin-bottom: 22px;
}

.contact__contact-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.contact__link {
  font-weight: 700;
  font-size: 18px;
  margin-left: 12px;
  width: 29px;
  height: 29px;
  border: 2px solid #1e1e1e;
  border-radius: 50%;
  color: #1e1e1e;
  text-align: center;
}

.contact__link:first-child {
  margin-left: 0;
}

.contact__email {
  font-weight: 700;
}

.contact-form__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}

.contact-form__row:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -33px;
  margin-bottom: 0;
}

.contact-form__control {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.contact-form__control-textarea {
  width: 100%;
}

.contact-form__label {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
  margin-bottom: 19px;
}

.contact-form__input {
  border: 0px solid #000000;
  border-top-width: 1px;
  width: 161px;
  height: 35px;
  background-color: #f8f7f7;
  padding: 4px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

.contact-form__textarea {
  width: 100%;
  border: 0px solid #000000;
  border-top-width: 1px;
  height: 118px;
  background-color: #f8f7f7;
  resize: none;
  padding: 4px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
}

.contact-form__btn {
  background-color: #ffffff00;
  padding: 4px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: #000000;
}

.footer {
  background-color: #3c3c3c;
}

.footer__wrapper {
  padding: 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo {
  width: 195px;
  margin-bottom: 41px;
}

.footer__lists {
  width: 70%;
  margin-bottom: 34px;
}

.footer__lists-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer__list {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

.footer__link {
  color: #a4a4a4;
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #6c6c6c;
}

@media (max-width: 1400px) {
  .header__title {
    margin-top: 100px;
  }

  .header__button {
    margin-top: 200px;
  }

  .about__wrapper {
    padding: 65px 0 50px 0;
  }

  .portfolio__container {
    padding: 62px 5px 62px 5px;
  }

  .contact__wrapper {
    padding: 71px 0 50px 0;
  }
}

@media (max-width: 1024px) {
  .header__wrapper {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  .nav-list {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .about__cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .portfolio__lists {
    margin-bottom: 68px;
  }

  .portfolio__image-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .portfolio__image {
    max-width: 80%;
    height: 300px;
  }

  .contact__form-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__form {
    margin-right: 0;
    margin-bottom: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .contact-form__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contact-form__control {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .contact-form__input {
    margin-bottom: 15px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .portfolio__image {
    height: 200px;
  }
}

@media (max-width: 425px) {
  .partners__clients {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .partners__client {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 15px;
  }
}